*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background-color: #2d353b;
  display: flex;
  justify-content: center;
}

#grid-container {
  margin-top: 50px;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  border-style: solid;
  border-width: 1px;
  border-color: #4f5b58;
}

.grid-element {
  width: 40px;
  height: 40px;
  border-color: #e67e80;
  background-color: #a7c080;
  border-style: solid;
  border-width: 2px;
  border-color: #4f5b58;
}
