*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background-color: #2d353b;
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 20px;
  color: #a7c080;
}

#app-container {
  display: flex;
  flex-direction: column;
}

#grid-container {
  margin-top: 20px;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  border-style: solid;
  border-width: 2px;
  border-color: #4f5b58;
}

#button-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  padding-left: 16px;
  padding-right: 16px;
  height: 30px;
  font-size: 16px;
  font-weight: 800;
  color: #1e2326;
  background-color: #9da9a0;
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  border-color: #4f5b58;
}
#clear-button:hover {
  background-color: #e67e80;
}
#change-grid-button:hover {
  background-color: #7fbbb3;
}
button:active {
  opacity: 70%;
}

.grid-element {
  aspect-ratio: 1 / 1;
  border-color: #e67e80;
  background-color: #272e33;
  /*   border-style: solid; */
  /*   border-width: 2px; */
  /*   border-color: #4f5b58; */
}

.colored-grid-element {
  background-color: #a7c080;
}
