*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background-color: #2d353b;
  display: flex;
  justify-content: center;
}

#app-container {
  display: flex;
  flex-direction: column;
}

#grid-container {
  margin-top: 50px;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  border-style: solid;
  border-width: 2px;
  border-color: #4f5b58;
}

button {
  margin-top: 20px;
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-weight: 800;
  color: #1e2326;
  background-color: #9da9a0;
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  border-color: #4f5b58;
}
button:hover {
  background-color: #e67e80;
}
button:active {
  opacity: 70%;
}

.grid-element {
  width: 40px;
  height: 40px;
  border-color: #e67e80;
  background-color: #272e33;
  border-style: solid;
  border-width: 2px;
  border-color: #4f5b58;
}

.colored-grid-element {
  background-color: #a7c080;
}
